LLM__PROVIDER=gemini
LLM__MODEL_NAME=gemini-3-flash-preview
LLM__API_KEY=

HF_TOKEN=

QDRANT__URL=http://localhost:6333
QDRANT__API_KEY=

TEXT_EMBEDDING__MODEL_NAME=BAAI/bge-m3
TEXT_EMBEDDING__DEVICE=cuda
TEXT_EMBEDDING__VECTOR_SIZE=1024

COLPALI__MODEL_NAME=vidore/colqwen2.5-v0.2
COLPALI__DEVICE=cuda
COLPALI__PDF_RENDER_DPI=150
COLPALI__VECTOR_SIZE=128

RERANKER__MODE=local
RERANKER__MODEL_NAME=jinaai/jina-reranker-m0
RERANKER__DEVICE=cuda

DATA_DIR=./data